<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Dancing+Script:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../css/icon-font.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../grid.css" />
    <link rel="shortcut icon" type="image/png" href="../favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display"
      rel="stylesheet"
    />

    <title>wallstreet Media House:Pub and Outdoors</title>
  </head>

  <body>
    <div class="blog">
      <div class="navigation1">
        <input type="checkbox" class="navigation1__checkbox" id="navi-toggle" />

        <label for="navi-toggle" class="navigation1__button">
          <span class="navigation1__icon">&nbsp;</span>
        </label>

        <div class="navigation1__background">&nbsp;</div>

        <nav class="navigation1__nav">
          <ul class="navigation1__list">
            <li class="navigation1__item">
              <a href="#" class="navigation1__link">About </a>
            </li>
            <li class="navigation1__item">
              <a href="#" class="navigation1__link">Home </a>
            </li>
            <li class="navigation1__item">
              <a href="#" class="navigation1__link">Contact </a>
            </li>
            <!--
              <li class="navigation1__item">
                <a href="#" class="navigation1__link">Stories</a>
              </li>
              <li class="navigation1__item">
                <a href="#" class="navigation1__link">Book now</a>
              </li>
            -->
          </ul>
        </nav>
      </div>
      <div class="blog-fixed"></div>
      <div class="blog-move">
        <div class="bc1">
          <a href="/"> <div class="c1"></div> </a>
          <div class="bc1date">14th &nbsp; December,&nbsp; 2018</div>
          <a href="/"
            ><div class="bc1heading">
              The Perfect Christmas Gift Guide For That Awesome Girl Boss In
              Your Life.
            </div></a
          >
        </div>
      </div>
    </div>
    <!--
      <footer>
        <div class="row">
          <div class="col span-1-of-2">
            <ul class="footer-nav">
              <li><a href="#home">home</a></li>
              <li><a href="#about-us">About &nbsp; Us</a></li>
              <li><a href="/careers">Careers</a></li>
            </ul>
          </div>
          <div class="col span-1-of-2">
            <img src="img/logo.png" alt="logo" class="logo-footer" />

              <ul class="social-links">
                  <li><a href="">
                          <img src="resources/img/facebook.png" />
                      </a></li>
                  <li><a><img src="resources/img/instagram.png" style="color:white" /></a></li>
              </ul>

          </div>
        </div>
        <div class="row">
          <p>Copyright &copy; 2018 by WALLSTREET MEDIA HOUSE PVT.LTD.</p>
        </div>
      </footer>
    -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="./smooth-scroll.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      $(document).ready(function() {
        $(".navigation__link").click(function() {
          $("#navi-toggle").prop("checked", false);
        });
      });
    </script>
  </body>
</html>
