<!DOCTYPE html>
<html lang="en" class="hml">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="One step solution for indoor events,outdoor events,concerts,festival,online marketing,artist management with
    best food places in bangalore,best event and party organisers in bangalore and event management.
    Best marketing for events and party.Bangalore's top party organisers,event managers."
    />
    <meta
      name="keywords"
      content="party planners in Bangalore, Bangalore event planners, party organisers in Bangalore, Bangalore party organisers,event management companies in bangalore, top event management companies, event management company, event management services, event production, event organisers, luxury wedding planners in bangalore,  corporate events in bangalore,  bangalore event management companies"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/ico" href="../favicon.ico" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Dancing+Script:100,300,400,700,900"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../vendors/css/normalize.css"
    />
    <link rel="stylesheet" type="text/css" href="../vendors/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../resources/css/queries.css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic&subset=latin,latin-ext"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.4.1/collection/icon/icon.css"
      rel="stylesheet"
      type="text/css"
    />

    <title>WallStreetMediaHouse:Pub and Outdoor Events</title>
  </head>

  <body class="bdy">
    <header id="home" class="header1" id="home">
      <div class="patch">
        <div class="patch__text">
          <li><a href="#ss" class="a1">Stellar &nbsp; Saturdays</a></li>
          <li><a href="#sb" class="a2">Studio &nbsp; B</a></li>
          <li><a href="#mac" class="a3">Moet &nbsp; and &nbsp; Chandon</a></li>
          <!-- <li><a href="#vm" class="a4">View &nbsp; more </a></li> -->
        </div>
      </div>
      <div class="row">
        <img src="../resources/img/logo.png" alt="logo" class="header1__logo" />

        <div class="header1__text-area">
          <div class="heading-primary">
            <!--
              <div class="heading-primary--main">wallstreet</div>
              <div class="heading-primary--sub">media &nbsp; house</div>
            -->
            <div class="heading-primary--main1">
              Explore all<br />
              events &nbsp;<span> with us</span>
            </div>
          </div>
          <!--
            <a href="#" class="btn  btn--white btn--animated">See More</a>
          -->
        </div>
      </div>
    </header>
    <main>
      <section class="event_box">
        <div class="event_div">
          <div data-aos="fade-up">
            <div class="event_div__1" id="ss">
              <img src="../resources/img/wheel.png" />
              <div class="event_div__1-textcontent">
                <span class="main"
                  >Stellar <br />
                  Saturdays</span
                ><br />
              </div>
              <span class="place">shiro , &nbsp; bangalore</span>
              <span class="date">17th &nbsp; November , &nbsp 2018</span>
              <div class="vm">View more</div>
            </div>
          </div>
          <div data-aos="fade-up">
            <div class="event_div__2" id="sb">
              <img src="../resources/img/smile.png" />
              <div class="event_div__2-textcontent">
                <span class="main">StudioB</span><br />
                <span class="main1">Pop-up &nbsp; with &nbsp; Belvedere</span
                ><br />
              </div>
              <span class="place">shiro , &nbsp; bangalore</span>
              <span class="date"> 1st &nbsp; December , &nbsp 2018</span>
              <div class="vm">View more</div>
            </div>
          </div>
          <div data-aos="fade-up">
            <div class="event_div__3" id="mac">
              <img src="../resources/img/honey.png" />
              <div class="event_div__3-textcontent">
                <span class="main">Moet & Chandon</span><br />
                <span class="main2">The &nbsp; white &nbsp; party</span>
              </div>
              <span class="place">shiro , &nbsp; bangalore</span>
              <span class="date">15th &nbsp; December , &nbsp 2018</span>
              <a class="vm" href="/events/moet">View more</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="row">
        <div class="col span-1-of-2">
          <ul class="footer-nav">
            <li><a href="#home">home</a></li>
            <li><a href="#about-us">About &nbsp; Us</a></li>
            <li><a href="/careers">Careers</a></li>
          </ul>
        </div>
        <div class="col span-1-of-2">
          <img src="../resources/img/logo.png" alt="logo" class="logo-footer" />
          <!--
            <ul class="social-links">
                <li><a href="">
                        <img src="resources/img/facebook.png" />
                    </a></li>
                <li><a><img src="resources/img/instagram.png" style="color:white" /></a></li>
            </ul>
          -->
        </div>
      </div>
      <div class="row">
        <p>Copyright &copy; 2018 by WALLSTREET MEDIA HOUSE PVT.LTD.</p>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../vendors/js/jquery.waypoints.min.js"></script>
    <script src="../resources/js/script.js"></script>
    <script src="../resources/js/smooth-scroll.js"></script>
    <script>
      var x = document.getElementById("my-file").value;
      console.log(x);
    </script>
  </body>
</html>
