<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../css/icon-font.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../grid.css" />
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png" />

    <title>wallstreet Media House:Pub and Outdoors</title>
  </head>

  <body>
    <div class="navigation2">
      <input type="checkbox" class="navigation2__checkbox" id="navi-toggle" />

      <label for="navi-toggle" class="navigation2__button">
        <span class="navigation2__icon">&nbsp;</span>
      </label>

      <div class="navigation2__background">&nbsp;</div>

      <nav class="navigation2__nav">
        <ul class="navigation2__list">
          <li class="navigation2__item">
            <a href="/" class="navigation2__link">Home </a>
          </li>
          <li class="navigation2__item">
            <a href="/events" class="navigation2__link">Events </a>
          </li>
          <li class="navigation2__item">
            <a href="/careers" class="navigation2__link">Careers </a>
          </li>
          <!--
            <li class="navigation2__item">
              <a href="#" class="navigation2__link">Stories</a>
            </li>
            <li class="navigation2__item">
              <a href="#" class="navigation2__link">Book now</a>
            </li>
          -->
        </ul>
      </nav>
    </div>
    <header id="home" class="header1" id="home">
      <div class="row">
        <img src="../img/logo.png" alt="logo" class="header1__logo" />
      </div>
    </header>
    <main>
      <div class="c2"></div>
      <div class="bcontent">
        <div class="bcontent__heading">
          The Perfect Christmas Gift Guide For That Awesome Girl Boss In Your
          Life.
        </div>
        <div class="bcontent__subheading">
          Christmas is around the corner, celebrations and presents are synonyms
          for this festive season. If you are planning to surprise a girl boss
          in your life; mom, girlfriend, daughter, colleague, or even your
          secret Santa and confused as to what to gift then here's a quick guide
          to help you.
        </div>
      </div>
      <div class="event_div1"><div class="event_div1__1" id="ss"></div></div>
      <div class="event_div1__content">
        <strong>1. &nbsp; Antique gifts</strong> <br />
        Antiques are the offbeat gifts which not many would expect but will
        definitely love. Antiques also tend to hold and acknowledge in value, so
        giving somebody an antique item is also the gift of an investment. The
        loved ones will truly appreciate the effort and time that you've put in
        for this gift. a gramophone, a vintage mirror with intricate details,
        antique jewelry box
      </div>
      <div class="event_div2"><div class="event_div2__1" id="ss"></div></div>
      <div class="event_div1__content">
        <strong> 2. &nbsp; Gift Card/Voucher</strong><br />
        Save yourself the trouble of battling crowds at the mall and
        brainstorming for the right gift to pick. Gift cards/ voucher are the
        next best thing you can surprise her with. a spa coupon: A girl boss is
        always on the go and what better way to surprise that a day filled with
        rejuvenating and unwinding. Netflix gift card: After a busy day she
        would love to binge watch, curl up in bed with a cup of hot chocolate
        and streaming away her shows. Amazon gift card: An Amazon gift card
        would be a very thoughtful present as she could pick and choose whatever
        she loves.
      </div>
      <div class="event_div3"><div class="event_div3__1" id="ss"></div></div>
      <div class="event_div1__content">
        <strong> 3. &nbsp; tech savvy</strong> <br />
        For the woman who loves technology and gadgets, there are a ton of
        things you could get for your tech-savvy girl boss and we've narrowed
        down the list for the best teach gifts this season. a Fitbit: fitness
        tracker for the fitness freak who can keep better track of their health.
        amazon fire tv: Accessing all of your streaming apps has never been
        easier. Polaroid-style photos are a click away thanks to this instant
        camera: Polaroid camera.
      </div>
    </main>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="./smooth-scroll.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      $(document).ready(function() {
        $(".navigation__link").click(function() {
          $("#navi-toggle").prop("checked", false);
        });
      });
    </script>
  </body>
</html>
