/*-----------------------------------------*/
/*BASIC SETUP*/
/*-----------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/*-----------------------------------------*/
/*REUSABLE COMPONENTS*/
/*-----------------------------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  padding: 80px 0;
}
.box {
  padding: 1%;
}
/*---------------HEADING------------------*/
h1,
h2 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h1 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
  font-size: 200%;
  word-spacing: 4px;
}
h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2::after {
  content: "";
  width: 100px;
  display: block;
  background-color: #e67e22;
  height: 2px;
  margin: 0 auto;
  margin-top: 30px;
}
h3 {
  font-size: 110%;
  margin-bottom: 15px;
  letter-spacing: 0;
}

/*------------PARA------------------------*/
.long-copy {
  line-height: 145%;
  text-align: center;
  width: 70%;
  margin-left: 15%;
}
.box p {
  font-size: 90%;
  line-height: 145%;
}

/*-------------BUTTONS---------------------*/

.btn,
input[type="submit"] {
  margin-top: 40px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  margin-right: 10px;
}

.btn-full,
input[type="submit"] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
}
.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}
.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #cf6d16;
}
.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d16;
}
.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d16;
  color: #fff;
}
.btn {
  margin-top: 40px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  margin-right: 10px;
}

.btn-full {
  background-color: #e67e22;
  border: 1px solid #e67e22;
}
.btn-ghost {
  border: 1px solid #e67e22;
  color: #e67e22;
}
.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #cf6d16;
}
.btn-full {
  border: 1px solid #cf6d16;
}
.btn-ghost {
  border: 1px solid #cf6d16;
  color: #fff;
}

/*************ICONS------------------------*/
.icon-big:first-child {
  font-size: 300%;
  height: 66px;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}
.icon-big:last-child {
  font-size: 300%;
  height: 50px;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

/*-----------------------------------------*/
/*HEADER*/
/*-----------------------------------------*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/mou.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.servicesheader {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/bg.jpeg);
  background-position: center;
  background-size: cover;
  height: 20vh;
  margin-bottom: 0;
}
.logo {
  height: 95px;
  width: auto;
  float: left;
  margin-top: 20px;
  margin-right:40px;
}
.main-nav {
  float: right;
  list-style: none;
}
.main-nav li {
  display: inline-block;
  margin-left: 40px;
  margin-top: 60px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70%;
  border-bottom: 1.5px solid #e67e22 transparent;
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 1.5px solid #e67e22;
}
.main-heading {
  position: absolute;
  width: 1140px;
  font-size: 400%;
  color: white;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobile-nav-icon i {
  color: white;
  font-size: 30px;
}
/*------------sticky---------------------*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 2px #efefef;
  z-index: 2;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 3px 0;
  color: #555;
}
.sticky .main-nav li {
  margin-top: 15px;
}
.sticky .logo {
  margin-top: 8px;
  width: 90px;
  height: 45px;
}
.sticky .mobile-nav-icon i {
  color: black;
  font-size: 25px;
  position: absolute;
  top: 15px;
  left: 325px;
}
/*----------mobile-nav--------------------*/
.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}
/*-----------------------------------------*/
/*MEET-THE-TEAM*/
/*-----------------------------------------*/
.box1 {
  background-color: rgb(236, 236, 236);
  height: 465px;
  text-align: center;
}
.box2 {
  text-align: center;
}
.team {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

/*CONTACT-US*/
/*-----------------------------------------*/
.contact {
  width: 60%;
  margin: 0 auto;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
textarea {
  height: 100px;
}

/*OTHERS*/
.long-copy {
  margin-bottom: 30px;
}
.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
.pointer {
  cursor: pointer;
}

/*-----------slider---------*/
.mySlides {
  margin: 30px auto;
  display: none;
  width: 60%;
  height: 300px;
  text-align: center;
  z-index: 1;
}
.w3-display-right {
  margin-right: 100px;
}
.w3-display-left {
  margin-left: 100px;
}

/*--------FOOTER------------*/

footer {
  background-color: #333;
  color: white;
}
.footer-nav {
  text-decoration: none;
  list-style: none;
  float: left;
}
.social-links {
  list-style: none;
  float: right;
}
.footer-nav {
  margin-top: 0px;
  margin-bottom: 20px;
}
.footer-nav li {
  display: inline-block;
  margin-left: 40px;
  margin-top: 0px;
  padding-top: 10px;
}
.social-links li {
  display: inline-block;
  margin-left: 40px;
  margin-top: 60px;
}
.footer-nav li a:link,
.footer-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70%;
  border-bottom: 1.5px solid #e67e22 transparent;
  transition: border-bottom 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active {
  border-bottom: 1.5px solid #e67e22;
}
.social-links img {
  width: 30px;
  height: 30px;
}
footer p {
  font-size: 10px;
  text-align: center;
}
.logo-footer {
  float: right;
  width: 80px;
  height: 40px;
}
.careers {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/careers.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.hero-text-box {
  position: absolute;
  text-align: center;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text-box {
  position: absolute;
  text-align: center;
  width: 1140px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#careers .join-us {
  margin-top: 350px;
}

/*-------SERVICES-----------*/

.services-photo {
  opacity: 1;
  text-align: center;
  width: 60%;
  margin-top: 20px;
  margin-left: 260px;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
section .bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/bg.jpeg);
  background-position: center;
  background-size: cover;
  height: 400vh;
}
.bg h3 {
  text-transform: uppercase;
  margin-top: 100px;
  color: white;
  text-align: center;
  font-size: 30px;
}
/*------RESUME----------*/

#thankyou p {
  color: white;
  font-size: 11px;
}

#careers p {
  color: white;
  font-size: 20px;
}
.box1 a {
  font-size: 11px;
}

/*----------------Find Jobs---------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/

/* Slideshow container */
.long-careers {
  line-height: 145%;
  text-align: center;
  width: 70%;
  padding-top: 20px;
  margin-left: 15%;
  color: white;
}
.h1slide {
  padding-top: 100px;
  color: #fff;
  font-size: 200%;
  word-spacing: 4px;
}
.btncareers {
  margin-top: 60px;
  margin-left: 210px;
  text-align: center;
}







.header1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../img/nat-2-large.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
  /*----------logo------------*/
}
.header1__logo {
  position: absolute;
  top: 20px;
  left: 30px;
  height: 85px;
  width: auto;
}
@media (max-width: 37.5em) {
  .header1__logo {
    top: 15px;
    left: 15px;
    height: 45px;
  }
}
.header1__text-area {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (max-width: 37.5em) {
  .header1__text-area {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.header1 .patch {
  position: absolute;
  top: 0;
  left: 65%;
  height: 40rem;
  width: 30rem;
  background-color: #d83f87;
}
@media (max-width: 37.5em) {
  .header1 .patch {
    display: none;
  }
}
.header1 .patch__text {
  text-align: center;
}
.header1 .patch__text li {
  list-style: none;
  margin-top: 6rem;
}
.header1 .patch__text a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: rem;
}

.event_div {
  width: 70%;
  text-align: center;
  margin: 10rem auto;
}
@media (max-width: 37.5em) {
  .event_div {
    width: 85%;
    text-align: center;
    margin: 5rem auto;
  }
}
.event_div__1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/nat-1-large.jpg);
  margin: 10rem auto;
  height: 50rem;
  outline: 3px solid white;
  outline-offset: -5rem;
  opacity: 0.8;
  text-align: center;
  position: relative;
}
@media (max-width: 37.5em) {
  .event_div__1 {
    margin: 5rem auto;
    height: 50rem;
    outline: 3px solid white;
    outline-offset: -3rem;
  }
}
.event_div__1 img {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20rem;
}
@media (max-width: 37.5em) {
  .event_div__1 img {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 18rem;
  }
}
.event_div__1-textcontent {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
}
@media (max-width: 37.5em) {
  .event_div__1-textcontent {
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.event_div__1-textcontent .main {
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 2rem;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 37.5em) {
  .event_div__1-textcontent .main {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1rem;
  }
}
.event_div__1 .place {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}
@media (max-width: 37.5em) {
  .event_div__1 .place {
    font-size: 1.8rem;
  }
}
.event_div__1 .date {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}
@media (max-width: 37.5em) {
  .event_div__1 .date {
    font-size: 1.6rem;
  }
}
.event_div__1 .vm {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 2px solid white;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 240%;
  transition: all 0.3s;
}
.event_div__1 .vm:hover {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: 100%;
  color: #000;
  border: 0px solid white;
}
.event_div__2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/nat-3-large.jpg);
  margin: 10rem auto;
  height: 50rem;
  outline: 3px solid white;
  outline-offset: -5rem;
  opacity: 0.8;
  text-align: center;
  position: relative;
}
@media (max-width: 37.5em) {
  .event_div__2 {
    margin: 5rem auto;
    height: 50rem;
    outline: 3px solid white;
    outline-offset: -3rem;
  }
}
.event_div__2 img {
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 16rem;
}
@media (max-width: 37.5em) {
  .event_div__2 img {
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 18rem;
  }
}
.event_div__2-textcontent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
}
@media (max-width: 37.5em) {
  .event_div__2-textcontent {
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.event_div__2-textcontent .main {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 2rem;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 37.5em) {
  .event_div__2-textcontent .main {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 1rem;
  }
}
.event_div__2-textcontent .main1 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1rem;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 37.5em) {
  .event_div__2-textcontent .main1 {
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
  }
}
.event_div__2 .place {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}
@media (max-width: 37.5em) {
  .event_div__2 .place {
    font-size: 1.8rem;
  }
}
.event_div__2 .date {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
}
@media (max-width: 37.5em) {
  .event_div__2 .date {
    font-size: 1.6rem;
  }
}
.event_div__2 .vm {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 2px solid white;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 240%;
  transition: all 0.3s;
}
.event_div__2 .vm:hover {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: 100%;
  color: #000;
  border: 0px solid white;
}
.event_div__3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/nat-1-large.jpg);
  margin: 10rem auto;
  height: 50rem;
  outline: 3px solid white;
  outline-offset: -5rem;
  opacity: 0.8;
  text-align: center;
  position: relative;
}
@media (max-width: 37.5em) {
  .event_div__3 {
    margin: 5rem auto;
    height: 50rem;
    outline: 3px solid white;
    outline-offset: -3rem;
  }
}
.event_div__3 a {
  text-decoration: none;
}
.event_div__3 img {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20rem;
}
@media (max-width: 37.5em) {
  .event_div__3 img {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 18rem;
  }
}
.event_div__3-textcontent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  word-wrap: break-word;
}
@media (max-width: 37.5em) {
  .event_div__3-textcontent {
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.event_div__3-textcontent .main {
  font-size: 2.5vw;
  font-weight: 400;
  letter-spacing: 2rem;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 37.5em) {
  .event_div__3-textcontent .main {
    font-weight: 400;
    letter-spacing: 1rem;
  }
}
.event_div__3-textcontent .main2 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1rem;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 37.5em) {
  .event_div__3-textcontent .main2 {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
  }
}
.event_div__3 .place {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}
@media (max-width: 37.5em) {
  .event_div__3 .place {
    font-size: 1.8rem;
  }
}
.event_div__3 .date {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}
@media (max-width: 37.5em) {
  .event_div__3 .date {
    font-size: 1.6rem;
  }
}
.event_div__3 .vm {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 2px solid white;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 240%;
  transition: all 0.3s;
}
.event_div__3 .vm:hover {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: 100%;
  color: #000;
  border: 0px solid white;
}
.heading-primary {
  margin-top: 3rem;
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 2.6rem;
  display: block;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; /* animation-delay: 0ms;
          animation-iteration-count: 2; */
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
}
.heading-primary--sub {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3.5rem;
  display: block;
  animation: moveInRight 1s ease-out;
}
@media (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}
.heading-primary--main1 {
  margin-top: 3rem;
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: 1rem;
  display: block;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.heading-primary--main1 span {
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  font-family: "Dancing Script", cursive;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInLeft1 {
  0% {
    opacity: 0;
    transform: translateX(-1100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight1 {
  0% {
    opacity: 0;
    transform: translateX(1100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveh2 {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.8;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.hml {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  .hml {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  .hml {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  .hml {
    font-size: 75%;
  }
}
.bdy {
  box-sizing: border-box;
}
.hml {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.bdy {
  background-color: #e4e4e4;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
@media (max-width: 75em) {
  .bdy {
    padding: 0;
  }
}
